aiven_api_token = "api_token_here"
project_name    = "project_name_here"
cloud_name = "cloud_name"
maintenance_dow = "monday"
maintenance_time = "10:00:00"

aws_region = "us-east-2"
dg_ami_id = "ami-0e83be366243f524a"
/*
Used ami-0e83be366243f524a in us-east-2, ami changes per region, seen in EC2 under images/AMI Catalog
which is Ubuntu: ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20230919
Canonical, Ubuntu, 22.04 LTS, amd64 jammy image build on 2023-09-19
OwnerAlias: amazon
Platform: Ubuntu
Architecture: x86_64
Publish date: 2023-09-19
Root device type: ebs
Virtualization: hvm
ENA enabled: Yes
*/


dg_sg_id = "default"
dg_key_pair_name = "your_key"
dg_instance_name = "your-demo"

# Can choose from https://aws.amazon.com/ec2/instance-types/  heavy CPU and network is desirable
# c6in.large   = 2 cpu 4GB memory
# c6in.xlarge  = 4 cpu 8GB memory
# c6in.2xlarge = 8 cpu 16GB memory

dg_instance_type = "c6in.2xlarge"

# How many Executors do you need?
dg_number_of_instances = 1

kafka_plan = "business-4"
kafka_version = "3.7"

web_user = "admin"
web_password = "Admin123"

# see the GitHubToken.md file for how to generate a Personal Access Token(PAT).
git_cmd="git clone https://github.com/JohnRTurner/kafka_executor.git"

# You may have to update these if they are set to expire
AWS_ACCESS_KEY_ID="your_key"
AWS_SECRET_ACCESS_KEY="your_secret"
AWS_SESSION_TOKEN="your_token"
